---
import Layout from "../layouts/Layout.astro";
import WhiteboardWrapper from "../components/WhiteboardWrapper.jsx";
import PageTitle from "../components/PageTitle.astro";
import creativityTools from "../../public/creativity-tools/data.json";
import metadata from "../site-metadata.json";
---

<Layout
  title={metadata.title}
  description={metadata.description}
  baseUrl={metadata.baseUrl}
  favicon={metadata.favicon}
  ogImage={metadata.ogImage}
  squareImage={metadata.squareImage}
>
  <header class="h-whiteboard bg-whiteboard">
    <PageTitle title={metadata.title} />
    <!-- WhiteboardWrapper cannot be server-rendered because it has sub-components that are not server-renderable. -->
    <WhiteboardWrapper client:only="react" baseUrl={metadata.baseUrl} />
  </header>

  <main class="border border-transparent">
    <section class="my-8 px-3">
      <h2 class="text-2xl text-center">
        {metadata.description}
      </h2>
      <details class="mt-3">
        <summary class="text-sm text-center underline cursor-pointer">
          tell me more
        </summary>
        <div class="m-auto max-w-2xl">
          <p>
            This page is designed to be a safe, bookmarkable, creativity
            resource for kids and adults. The creativity tools below are
            cross-disciplinary and cover a range of skill levels.
          </p>

          <p>
            To bookmark this page, drag this link to your bookmarks bar: → <a
              class="no-underline border-marker-purple border-4 px-3 py-1 rounded text-marker-purple font-bold text-sm"
              href="https://bryanbraun.com/lets-get-creative"
            >
              Let's Get Creative
            </a>
          </p>

          <p>
            In order for a tool to be added to this collection, it must meet the
            following criteria:
          </p>
          <ol>
            <li>
              Online: accessible at a URL and usable in your web-browser
              (Chromebook-friendly!)
            </li>
            <li>
              Low friction: free to use and doesn't require an account (at least
              for basic functionality)
            </li>
            <li>
              Shareable: creations can be saved or shared (via share url,
              downloadable image, etc)
            </li>
            <li>
              High-quality: the tool is safe for all ages and doesn't have
              pop-ups or excessive ads
            </li>
          </ol>

          <p>
            If you have a tool that you think should be included <a
              class="underline"
              href="https://github.com/bryanbraun/lets-get-creative/blob/main/CONTRIBUTING.md"
              target="_blank">follow these instructions to recommend it</a
            >.
          </p>

          <p>
            If you discover an issue with one of these tools (it no longer meets
            the criteria, link is broken, etc), you can <a
              class="underline"
              href="https://github.com/bryanbraun/lets-get-creative/issues"
              target="_blank">report it here</a
            >.
          </p>
          <p>
            The tools in this collection were built by creative people from
            across the internet and this site would not be possible without
            their efforts. ❤️
          </p>
        </div>
      </details>
    </section>

    <ul role="list" class="flex flex-wrap justify-center">
      {
        creativityTools.map((tool) => (
          <li class="creativity-tool">
            <a href={tool.link} target="_blank">
              <img
                width="800"
                height="200"
                src={"creativity-tools/" + (tool.image || "default.png")}
                alt={tool.name}
                loading="lazy"
              />
              <h3 class="text-lg mt-2 font-bold">{tool.name}</h3>
              <p>{tool.description}</p>
            </a>
          </li>
        ))
      }
    </ul>

    <div class="my-12 space-y-4 text-center">
      <p>
        I'm adding new creativity tools as I find them. Subscribe to updates<a
          href="feed.json"
          target="_blank"
        >
          <span class="underline">via the feed</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            version="1.1"
            x="0px"
            y="0px"
            viewBox="0 0 120 120"
            width="20"
            height="20"
            class="inline-block"
          >
            <path
              fill="rgb(250,140,8)"
              d="M25.4,74.569c2.18,2.177,3.506,5.131,3.514,8.42c-0.008,3.283-1.334,6.237-3.506,8.406L25.4,91.399  c-2.176,2.166-5.148,3.49-8.453,3.49c-3.301,0-6.266-1.328-8.441-3.494C6.336,89.227,5,86.276,5,82.989  c0-3.289,1.336-6.25,3.506-8.423v0.003c2.176-2.168,5.141-3.502,8.441-3.502C20.252,71.067,23.221,72.404,25.4,74.569z M25.4,74.566  v0.003c0.004,0,0.004,0,0.004,0L25.4,74.566z M8.506,91.399c0,0,0,0,0-0.004c-0.004,0-0.004,0-0.004,0L8.506,91.399z M5.01,35.604  v17.185c11.219,0.007,21.83,4.414,29.771,12.367c7.939,7.928,12.328,18.555,12.346,29.813h0.006V95h17.256  c-0.014-16.37-6.668-31.198-17.426-41.964C36.203,42.272,21.381,35.614,5.01,35.604z M5.041,5v17.177  C45.145,22.206,77.746,54.858,77.773,95H95c-0.012-24.81-10.096-47.288-26.393-63.596C52.305,15.101,29.842,5.011,5.041,5z"
            ></path>
          </svg>
        </a>
        <span class="text-xs">
          <a class="underline" href="https://aboutfeeds.com/" target="_blank">
            [what is this?]
          </a>
        </span>
      </p>
    </div>
  </main>

  <hr class="footer-hr" />

  <footer class="text-center text-sm my-6">
    <p>
      Made by <a
        href="https://bryanbraun.com"
        class="underline"
        target="_blank"
      >
        Bryan Braun
      </a>
    </p>
    <p>
      This site is <a
        class="underline"
        href="https://github.com/bryanbraun/lets-get-creative"
        target="_blank">open source</a
      >.
    </p>
  </footer>
</Layout>

<style>
  /* We couldn't use tailwind for these var(--img-*) values */
  header {
    position: relative;
    overflow: hidden;
    background-color: var(--color-whiteboard);
    border-bottom-width: 8px;
    border-image-source: var(--img-ink-border);
    border-image-repeat: stretch;
    border-image-slice: 10 6 10 6;
  }
  .creativity-tool {
    flex: 0 1 auto;
    padding: 0.5rem;
    border-width: 20px;
    border-image-source: var(--img-ink-box);
    border-image-repeat: stretch;
    border-image-slice: 20 20 20 20;
  }
  @media (min-width: 768px) {
    .creativity-tool {
      width: 50%;
    }
  }
  .footer-hr {
    height: 0.5rem;
    background-image: var(--img-ink-border);
    background-size: 356px 100%;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
  }
</style>
