---
import "../styles/main.css";

interface Props {
  title: string;
  description: string;
  baseUrl: string;
  ogImage: string;
}

const { title, description, baseUrl, ogImage } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <title>{title}</title>
    <meta name="description" content={description} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={`${baseUrl}/${ogImage}`} />
    <meta property="og:url" content={baseUrl} />
    <meta property="og:type" content="website" />

    <link
      id="favicon"
      rel="icon"
      type="image/svg+xml"
      href={`${baseUrl}/favicon-0.svg`}
    />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, viewport-fit=cover"
    />

    <link
      rel="alternate"
      type="application/feed+json"
      title={title}
      href="feed.json"
    />
    <meta name="generator" content={Astro.generator} />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,400;0,700;1,400&family=Gaegu:wght@700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <slot />
  </body>
</html>
